{% macro cat_select(name, selected='', id=None, style='', extra_class='', cats=none) %}
<select name="{{ name }}" {% if id %}id="{{ id }}" {% endif %} class="select select-bordered {{ extra_class }}"
    style="{{ style }}">
    <option value="">—</option>
    {% set _cats = cats if cats is not none else categories_all | default([]) %}
    {% for cat in _cats %}
    <option value="{{ cat.name }}" {% if selected==cat.name %}selected{% endif %}>{{ cat.name }}</option>
    {% endfor %}
</select>
{% endmacro %}